body,
html,
#___gatsby {
  background-color: #070808;
  height: 100%;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container > span {
  color: #ffffff;
  margin-top: 24px;
  font-size: 16px;
}

